* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    all: unset;
}
a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: #3f464d;
}

body {
    margin: 0 auto;
    color: #3f464d;
}

header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    background-color:#fff;
    z-index: 1000;
    top: 0;
    left: 0;
}

section {
    width: 100%;
    background-color: #fff;
    position: relative;
}
/* inner 클래스도 width가 100%지만 */
/* 미디어쿼리를 통해서 width가 일정 값으로 고정이 된다. */
/* 상위태그인 body, header모두 width 100%에 margin 0 auto이다. */
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.head-container .head-title {
    font-weight: bold;
    font-size: 1.2rem;
}
.head-container .head-blog {
    font-weight: bold;
    font-size: 1.2rem;
}

.head-container .head-title a:hover, .head-container .head-blog a:hover {
    cursor: pointer;
    color: #2186c4;
}

.main {
    height: 380px;
    background-image: url(/img/photodune-4161018-group-of-students-m.jpg);
    background-repeat:no-repeat;
    background-position: center 10%;
    z-index: 1;
    margin-top:60px;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(47,48,89);
    opacity:80%;
    z-index: 2;
}

.title-container {
    padding-top: 5rem;
}
.title {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    margin-bottom:1rem;
}
.message {
    font-size: 1.3rem;
    color: #fff;
    line-height:1.9rem;
    margin-left: 0.2rem;
}
.skill-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.skill {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 9px;
    box-shadow: 10px 10px 10px -5px rgba(25,42,70, 0.2);
    padding: 0.8rem 1.4rem;
    margin-top: 1.4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    transition: 0.4s;
}
.skill:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}
.skill > .skill-icon {
    font-size: 1.5rem;
    margin-right: 1.2rem;
}
.skill > .skill-title {
    display: flex;
    flex-direction: column;
}
.skill-title > .main-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.skill-title > .sub-title {
    font-size: 0.8rem;
}

.javascript-color {
    color:#f7df1e;
}
.backend-color {
    color: #3f464d;
}
.algorithm-color {
    color:#000;
}
.network-color {
    color:#00bfff;
}
.roadmap-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}
.roadmap-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.arrow-container {
    display: flex;
}
.arrow-container > .arrow-icon {
    font-size: 1.5rem;
}
.class-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 16px 0;
    display: flex;
}
.class-card {
    width: 240px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px -5px rgba(25,42,70, 0.2);
    display : flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    transition: 0.4s;
}
.class-card:hover {
    transform: translate(0, -5px);
    box-shadow: 10px 10px 10px 0px rgba(25,42,70, 0.2);
    cursor: pointer;
}
.class-image {
    width:100%;
    height: 120px;
    border-radius: 8px 8px 0 0;
}
.class-container {
    width: 100%;
    padding: 0.5rem 1.3rem 1rem 1.3rem;
}
.class-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.class-type {
    color: #949393;
}
.class-format {
    color: white;
    background-color: #0d47a1;
    padding: 0.3rem 0.2rem;
    font-size: 0.9rem;
}
.class-desc {
    margin-top: 1rem;
}
.class-title {
    font-weight: bold;
    font-size: 0.9rem;
    color: #545e6f;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
}
.class-detail {
    margin-top: 0.7rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.footer-container {
    margin-top: 100px;
    border-top: 1px solid #e4e4e4;
    height: 160px;
    padding: 20px 25px;
}
.footer-message {
    color: #545e6f;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top:10px;
}
.footer-contact {
    color: #545e6f;
    margin-top: 55px;
    font-size: 0.8rem;
}
.footer-copyright {
    color: #545e6f;
    margin-top:5px;
    font-size: 0.8rem;
}
#backtotop {
    background-color: rgb(47, 48, 89);
    width: 40px;
    height: 40px;
    text-align:center;
    border-radius:20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
 
#backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size:1.5rem;
    line-height:40px;
    color:#fff;
}
#backtotop.show {
    visibility: visible;
    opacity: 1;
    background-color: rgb(47,48,49);
}
.slide-prev {
    color: #a9adb1;
}
.slide-next {
    color: #a9adb1;
}
.active-button {
    color: #3f464c;
}
.active-button:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1000px) {
    .inner {
        max-width: 1000px;
    }
}
@media only screen and (max-width: 1000px) {
    .skill-container {
        display:none;
    }
}
